<!-- <div class="main-dashboard">
   <app-top-navigation></app-top-navigation>
   <main>
      <app-left-navigation></app-left-navigation>
      <div class="content">
         <div class="row">
            <div class="col">
               <app-my-card-static-column></app-my-card-static-column>
            </div>
            <div class="col">
               <div class="total-balance">
                  <app-total-balance-card></app-total-balance-card>
               </div>
            </div>
         </div>
      </div>
   </main>
</div> -->


<div class="main-dashboard">
   <app-top-navigation></app-top-navigation>
   <main>
      <div class="row">
         <div class="col">
            <app-left-navigation></app-left-navigation>
         </div>
         <div class="col">
            <app-my-card-static-column></app-my-card-static-column>
         </div>
         <div class="col">
            <app-total-balance-card></app-total-balance-card>
            <app-statistics-card-graph></app-statistics-card-graph>
            <app-transaction-history></app-transaction-history>
         </div>
      </div>
   </main>
</div>










<!-- <app-left-navigation></app-left-navigation>
  <div class="content">
          <app-my-card-static-column></app-my-card-static-column>
       </div>
             <div class="total-balance">
                <app-total-balance-card></app-total-balance-card>
             </div> -->