<div class="container">
    <div class="profile">
        <h3><img src="assets/images/profilePic.jpg"> Bharathi Mysore</h3>
        <div class="expandBrackets">
            <div>
                <h4>&#8743;</h4>
            </div>
            <div>
                <h4>&#8744;</h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="menu">
        <h3>MENU</h3>
        <ul>
            <li>
                <p id="overview"><fa-icon [icon]="faLayerGroup"></fa-icon>Overview
                    <fa-icon id="location-icon"[icon]="faLocationArrow"></fa-icon></p>
            </li>
            <li>
                <p><fa-icon [icon]="faListDots"></fa-icon>Transactions</p>
            </li>
            <li>
                <p><fa-icon [icon]="faChartBar"></fa-icon>Analytics</p>
            </li>
            <li>
                <p><fa-icon [icon]="faCreditCard"></fa-icon>Cards</p>
            </li>
        </ul>
    </div>
    <hr>
    <div class="general">
        <h3>GENERAL</h3>
        <ul>
            <li>
                <p><fa-icon [icon]="faCog"></fa-icon>Settings</p>
            </li>
            <li>
                <p><fa-icon [icon]="faMessage"></fa-icon>Help/Support</p>
            </li>
            <li>
                <p><fa-icon [icon]="faMoon"></fa-icon>Dark Mode
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </p>
            </li>
        </ul>
    </div>
    <hr>
    <div class="payment">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
        <h3>New Payment</h3>
    </div>
</div>
<!-- <div class="location-icon">
    <fa-icon [icon]="faLocationArrow"></fa-icon>
</div> -->