<nav class="navbar navbar-light">
    <nav class="nav-content">
        <div class="top-content">
            <p>Stay updated on our latest feature by receiving notifications from us!</p>
            <button class="btn bg-white">Learn More</button>
            <button class="btn">x</button>
        </div>
        <div class="main-nav-bar">
            <div class="left-nav">
                <h3><fa-icon [icon]="faCubes"></fa-icon> Hexa Bank</h3>
                <div class="toggle">&lt;</div>
            </div>
            <div class="top-nav">
                <h3>Overview</h3>
                <input type="text" id="search-bar" placeholder="&#61442; Search anything here .."
                    class="icon-placeholder">
                <div class="badges">
                    <button type="button" class="icon-button">
                        <fa-icon [icon]="faMessage"></fa-icon>
                        <span class="icon-button__badge">0</span>
                    </button>
                    <button type="button" class="icon-button">
                        <fa-icon [icon]="faNotification"></fa-icon>
                        <span class="icon-button__badge">0</span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</nav>